
/* ----------------BASE------------------- */
#body {
    background: rgba(185, 28, 193, 0.578);
}


/* ----------STORE SELECTOR PAGE---------- */

#above-line {
    background: rgb(66, 65, 65);
}

#below-line {
    background: rgb(152, 152, 152);
}

#store_selector_box {
    margin-top: 10%;
    width: 30%;
    padding-top: 10%;
    padding-bottom: 10%;
    border: solid;
    border-width: 1px;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    position: relative;
    z-index: 1;
}

#store_selector_form {
    margin-left: auto;
    margin-right: auto;
}

#line {
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    z-index: -1;
}

/* ----------STORE PAGE, UNIT SELECTOR---------- */

#unit_list_div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%; /* Adjust this value as needed to control the maximum height of the box */
    overflow: auto;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
}

.unit-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.unit-item.even {
    background-color: #f0f0f0;
}

.unit-item.odd {
    background-color: white;
}
