{% extends "base.html" %}
{% block title %}Bleeze {{ renter.first_name }} {{ renter.last_name }}{% endblock %}

{% block body %}

<div class="header-bar">
    <div class="header-address">
        <h4>{{ store.address }} {{ store.city }} - {{ store.id }}</h4>
    </div>
    <a href="javascript:void(0);" onclick="openStoreSelectorPopup()" id="header-store-selector-link">
        <div>
            <h4>Store Selector</h4>
        </div>
    </a>
</div>

<div class="container">
        <div class="sidebar">
            <div id="sidebar-menu-title">
                <h2>{{ renter.first_name }} {{ renter.last_name }}</h2>
            </div>
    
            <a href="/{{ store.id }}" class="sidebar-menu-item">
                <div>
                    <h4>DASHBOARD</h4>
                </div>
            </a>

            <a href="/{{ store.id }}/unitselector" class="sidebar-menu-item">
                <div>
                    <h4>UNIT SELECTOR</h4>
                </div>
            </a>
    
            <a href="/{{ store.id }}/renters" class="sidebar-menu-item">
                <div>
                    <h4>CONTACTS</h4>
                </div>
            </a>
            
            <a href="/{{ store.id }}/retail" class="sidebar-menu-item">
                <div>
                    <h4>RETAIL</h4>
                </div>
            </a>
        </div>
        <div id="view-unit-div">
            <div class="details">
                <h2>{{ renter.first_name }} {{ renter.last_name }}</h2>
                <h3>Birthday: {{ renter.month_of_birth }} {{ renter.day_of_birth }}, {{ renter.year_of_birth }}</h3>
                <h3>Address: {{ renter.street_address }} {{ renter.city }}, {{ renter.state }} </h3>
                <h3>Phone Number: {{ renter.phone_number }}</h3>
                <h3>Email: ADD EMAIL TO RENTER DB</h3>
                
                <h3>Units Rented:</h3>
                <ul>
                    {% for unit in renter.units %}
                    <li>
                        <a href="{{ url_for('view_unit', store_id=unit.store.id, unit_id=unit.id) }}">
                            Unit: {{ unit.unit_number }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <div id="store-selector-box-js">
            <h2><a href="javascript:void(0);" onclick="closeStoreSelectorPopup()" id="store-selector-box-js-close-button">X</a></h2>
        </div>
        
    </div>

</div>

<script>

    function openStoreSelectorPopup() {
        let storeSelectorBox = document.getElementById('store-selector-box-js')
        storeSelectorBox.style.display = 'block'
    }

    function closeStoreSelectorPopup() {
        let storeSelectorBox = document.getElementById('store-selector-box-js');
        storeSelectorBox.style.display = 'none';
    }
</script>

{% endblock %}