{% extends "base.html" %}
{% block title %}Bleeze{% endblock %}

{% block body %}

<div class="header-bar">
    <div class="header-address">
        <h4>{{ store.address }} {{ store.city }} - {{ store.id }}</h4>
    </div>
    <a href="javascript:void(0);" onclick="openStoreSelectorPopup()" id="header-store-selector-link">
        <div>
            <h4>Store Selector</h4>
        </div>
    </a>
</div>

<div class="container">
    <div class="sidebar">
        <div id="sidebar-menu-title">
            <img id="bleeze_logo" src="/static/images/bleeze_logo.jpeg" alt="Bleeze">
        </div>

        <a href="/{{ store.id }}" class="sidebar-menu-item">
            <div>
                <h4>DASHBOARD</h4>
            </div>
        </a>

        <a href="/{{ store.id }}/unitselector" class="sidebar-menu-item">
            <div>
                <h4>UNIT SELECTOR</h4>
            </div>
        </a>
        
        <a href="/{{ store.id }}/renters" class="sidebar-menu-item-selected">
            <div>
                <h4>CONTACTS</h4>
            </div>
        </a>

        <a href="/{{ store.id }}/retail" class="sidebar-menu-item">
            <div>
                <h4>RETAIL</h4>
            </div>
        </a>
    </div>
    
    <div id="unit-selector-header">
        <img id="header-image" src='/static/images/bss_car.jpeg'>
    </div>

    <div id="renter-list-div">
        <div class="renter-item even" id="renter-item-header">
            <h3 id = "renter-item-c1">Name</h3>
            <h3 id = "renter-item-c2">Address</h3>
            <h3 id = "renter-item-c3">Phone</h3>
            <h3 id = "renter-item-c4">Current Renter</h3>
        </div>
        {% for renter in renters %}
        <div class="renter-item {% if loop.index is divisibleby(2) %}even{% else %}odd{% endif %}">
            <p id = "renter-item-c1"><a href="/{{ store.id }}/renters/{{ renter.id }}">{{ renter.first_name }} {{ renter.last_name }}</a></p>
            <p id = "renter-item-c2">{{ renter.city }}</p>
            <p id = "renter-item-c3">{{ renter.phone_number }}</p>
            <p id = "renter-item-c4">Current Renter?</p>
        </div>
        {% endfor %}
    </div>

    
    <div id="store-selector-box-js">
        <h2><a href="javascript:void(0);" onclick="closeStoreSelectorPopup()" id="store-selector-box-js-close-button">X</a></h2>
    </div>
    
</div>

<script>

    function openStoreSelectorPopup() {
        let storeSelectorBox = document.getElementById('store-selector-box-js')
        storeSelectorBox.style.display = 'block'
    }

    function closeStoreSelectorPopup() {
        let storeSelectorBox = document.getElementById('store-selector-box-js');
        storeSelectorBox.style.display = 'none';
    }
</script>
    
{% endblock %}