{% extends "base.html" %}
{% block title %}Bleeze{% endblock %}

{% block body %}

<div class="header-bar"></div>

<div class="container">
    <div class="sidebar">
        <div id="sidebar-menu-title">
            <h2>All Bleeze Renters</h2>
            <h3>{{ store.address }} <br> {{ store.city }}, {{ store.state }}</h3>
        </div>

        <a href="/{{ store.id }}" class="sidebar-menu-item">
            <div>
                <h4>Unit Selector</h4>
            </div>
        </a>

        <a href="/" class="sidebar-menu-item">
            <div>
                <h4>Store Selector</h4>
            </div>
        </a>
        
        <a href="/{{ store.id }}/renters" class="sidebar-menu-item">
            <div>
                <h4>Renter List</h4>
            </div>
        </a>

        <a href="/{{ store.id }}/retail" class="sidebar-menu-item">
            <div>
                <h4>Retail</h4>
            </div>
        </a>


    </div>

    <div id="renter-list-div">
        {% for renter in renters %}
            <a href="/renter/{{ renter.id }}"><h3>{{ renter.first_name }} {{ renter.last_name }}</h3></a>
            
        {% endfor %}
    </div>

</div>
    
{% endblock %}