{% extends "base.html" %}
{% block title %}Bleeze {{ renter.first_name }} {{ renter.last_name }}{% endblock %}

{% block body %}

<h1>Unit Manager</h1>
<a href = "/">Select another store</a>


<div>
    <h2>{{ renter.first_name }} {{ renter.last_name }}</h2>
    <h3>Birthday: {{ renter.month_of_birth }} {{ renter.day_of_birth }}, {{ renter.year_of_birth }}</h3>
    <h3>Address: {{ renter.street_address }} {{ renter.city }}, {{ renter.state }} </h3>
    <h3>Phone Number: {{ renter.phone_number }}</h3>
    <h3>Email: ADD EMAIL TO RENTER DB</h3>
</div>





{% endblock %}