{% extends "base.html" %}
{% block title %}Bleeze{% endblock %}

{% block body %}

<div class="header-bar">
    <div class="header-address">
        <h4>{{ store.address }} {{ store.city }} - {{ store.id }}</h4>
    </div>
    <a href="javascript:void(0);" onclick="openStoreSelectorPopup()" id="header-store-selector-link">
        <div>
            <h4>Store Selector</h4>
        </div>
    </a>
</div>

<div class="container">
    <div class="sidebar">
        <div id="sidebar-menu-title">
            <h2>Bleeze Store {{ store.id }}</h2>
        </div>

        <a href="/{{ store.id }}" class="sidebar-menu-item">
            <div>
                <h4>Dashboard</h4>
            </div>
        </a>

        <a href="/{{ store.id }}/unitselector" class="sidebar-menu-item">
            <div>
                <h4>Unit Selector</h4>
            </div>
        </a>

        <a href="/{{ store.id }}/renters" class="sidebar-menu-item">
            <div>
                <h4>Renter List</h4>
            </div>
        </a>
        
        <a href="/{{ store.id }}/retail" class="sidebar-menu-item-selected">
            <div>
                <h4>Retail</h4>
            </div>
        </a>
    </div>
    <div class="main-body">
        <div id="retail-list-div">  
            <!-- change to retail-list-div and edit styling -->
            <h2>Retail items</h2>
            {% for retail in retail %}
            <table>
                <tr>
                    <th>Item name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
                <tr>
                    <td>{{ retail.item_name }}</td>
                    <td>{{ retail.price }}</td>
                    <td>{{ retail.quantity }}</td>
                </tr>
            {% endfor %}
        </div>
    </div>
    
    <div id="store-selector-box-js">
        <h2><a href="javascript:void(0);" onclick="closeStoreSelectorPopup()" id="store-selector-box-js-close-button">X</a></h2>
    </div>
    
</div>
<script>

    function openStoreSelectorPopup() {
        let storeSelectorBox = document.getElementById('store-selector-box-js')
        storeSelectorBox.style.display = 'block'
    }

    function closeStoreSelectorPopup() {
        let storeSelectorBox = document.getElementById('store-selector-box-js');
        storeSelectorBox.style.display = 'none';
    }
</script>
    
{% endblock %}