{% extends "base.html" %}
{% block title %}Bleeze{% endblock %}

{% block body %}

<div class="header-bar"></div>

<div class="container">
    <div class="sidebar">
        <div id="sidebar-menu-title">
            <h2>Bleeze Store {{ store.id }}</h2>
            <h3>{{ store.address }} <br> {{ store.city }}, {{ store.state }}</h3>
        </div>

        <a href="/{{ store.id }}" class="sidebar-menu-item">
            <div>
                <h4>Unit Selector</h4>
            </div>
        </a>

        <a href="/" class="sidebar-menu-item">
            <div>
                <h4>Store Selector</h4>
            </div>
        </a>

        <a href="/{{ store.id }}/renters" class="sidebar-menu-item">
            <div>
                <h4>Renter List</h4>
            </div>
        </a>
        
        <a href="/{{ store.id }}/retail" class="sidebar-menu-item">
            <div>
                <h4>Retail</h4>
            </div>
        </a>
    </div>
    <div class="main-body">
        <div id="retail-list-div">  
            <!-- change to retail-list-div and edit styling -->
            <h2>Retail items</h2>
            {% for retail in retail %}
            <table>
                <tr>
                    <th>Item name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
                <tr>
                    <td>{{ retail.item_name }}</td>
                    <td>{{ retail.price }}</td>
                    <td>{{ retail.quantity }}</td>
                </tr>
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock %}