{% extends "base.html" %}
{% block title %}Bleeze{% endblock %}

{% block body %}

<div class="header-bar">
    <div class="header-address">
        <h4>{{ store.address }} {{ store.city }} - {{ store.id }}</h4>
    </div>
    <a href="javascript:void(0);" onclick="openStoreSelectorPopup()" id="header-store-selector-link">
        <div>
            <h4>Store Selector</h4>
        </div>
    </a>
</div>

<div class="container">
    <div class="sidebar">
        <div id="sidebar-menu-title">
            <img id="bleeze_logo" src="/static/images/bleeze_logo.jpeg" alt="Bleeze">
        </div>

        <a href="/{{ store.id }}" class="sidebar-menu-item">
            <div>
                <h4>DASHBOARD</h4>
            </div>
        </a>

        <a href="/{{ store.id }}/unitselector" class="sidebar-menu-item-selected">
            <div>
                <h4>UNIT SELECTOR</h4>
            </div>
        </a>

        <a href="/{{ store.id }}/renters" class="sidebar-menu-item">
            <div>
                <h4>CONTACTS</h4>
            </div>
        </a>
        
        <a href="/{{ store.id }}/retail" class="sidebar-menu-item">
            <div>
                <h4>RETAIL</h4>
            </div>
        </a>
    </div>

    <div class="pri-selector-header">
        <img id="header-image" src='/static/images/bleeze_graffiti.jpeg'>
    </div>

    <div class="pri-list-div">
        <div class="pri-item even" id="pri-item-header">
            <h3 id = "unit-item-c1">Unit Number</h3>
            <h3 id = "unit-item-c2">Size</h3>
            <h3 id = "unit-item-c3">Status</h3>
            <h3 id = "unit-item-c4">Unit Type</h3>
            <h3 id = "unit-item-c5">Tenant</h3>
        </div>
        {% for unit in units %}
        <div class="pri-item {% if loop.index is divisibleby(2) %}even{% else %}odd{% endif %}">
            <p id = "unit-item-c1"><a href="/{{ store.id }}/unit/{{ unit.id }}">{{ unit.unit_number }}</a></p>
            <p id = "unit-item-c2">{{ unit.size }}</p>
            <p id = "unit-item-c3">{% if unit.rented %}Occupied{% else %}Vacant{% endif %}</p>
            <p id = "unit-item-c4">{{ unit.type }}</p>
            <p id = "unit-item-c5">{% if unit.renter %}<a href="/{{ store.id }}/renters/{{ unit.renter.id }}">{{ unit.renter.first_name }} {{ unit.renter.last_name }}</a>{% else %}-{% endif %}</p>
        </div>
        {% endfor %}
    </div>

    <div id="store-selector-box-js">
        <h2><a href="javascript:void(0);" onclick="closeStoreSelectorPopup()" id="store-selector-box-js-close-button">X</a></h2>
    </div>

</div>


<script>

    function openStoreSelectorPopup() {
        let storeSelectorBox = document.getElementById('store-selector-box-js')
        storeSelectorBox.style.display = 'block'
    }

    function closeStoreSelectorPopup() {
        let storeSelectorBox = document.getElementById('store-selector-box-js');
        storeSelectorBox.style.display = 'none';
    }
</script>
    
{% endblock %}
