{% extends "base.html" %}
{% block title %}Bleeze{% endblock %}

{% block body %}

<h1>Unit Manager</h1>
<a href = "/">Select another store</a>
<a href = "/retail/{{ store.id }}">Retail</a>


<div id="customer_list_div">
    <h2>Bleeze Self Storage</h2>
    <h3>{{ store.address }} - {{ store.city }}, {{ store.state }}</h3>
    <table>
        <tr>
            <th>Unit Number</th>
            <th>Unit Status</th>
            <th>Type</th>
            <th>Renter</th>
        </tr>
        {% for unit in units %}
        <tr>
            <td>{{ unit.unit_number }}</td>
            <td>
                {% if unit.rented %}
                    Occupied
                {% else %}
                    Vacant
                {% endif %}
            </td>
            <td>{{ unit.type }}</td>
            <td>
                {% if unit.rented %}
                    {{ unit.renter.first_name }} {{ unit.renter.last_name }}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}