{% extends "base.html" %}
{% block title %}Select Store{% endblock %}

{% block body %}


<div id="store-selector-box">
    <form id="store-selector-form" method="POST" action="/">
        {{ form.csrf_token }}
        <div class="form-group">
            <input type="number" class="form-control" name="store_id" id="store_id" placeholder="{{ form.store_id.label.text }}" value="{{ form.store_id.data }}">
            <button type="submit">Go</button>
        </div>
    </form>
</div>


{% for message in get_flashed_messages() %}
<div id="flash-box">
    <div id="flash-content">
            <h3>{{ message }}</h3>
    </div>
</div>
{% endfor %}


{% endblock %}