{% extends "base.html" %}
{% block title %}Bleeze {{ unit.unit_number }}{% endblock %}

{% block body %}

<div class="header-bar">
    <a href="javascript:void(0);" onclick="openStoreSelectorPopup()" id="header-store-selector-link">
        <div>
            <h4>Store Selector</h4>
        </div>
    </a>
</div>

<div class="container">
    <div class="sidebar">
        <div id="sidebar-menu-title">
            <h2>{{ unit.unit_number }}</h2>
        </div>

        <a href="/{{ store.id }}" class="sidebar-menu-item">
            <div>
                <h4>Unit Selector</h4>
            </div>
        </a>
        

        <a href="/{{ store.id }}/renters" class="sidebar-menu-item">
            <div>
                <h4>Renter List</h4>
            </div>
        </a>
        
        <a href="/{{ store.id }}/retail" class="sidebar-menu-item">
            <div>
                <h4>Retail</h4>
            </div>
        </a>

    </div>

    <div id="view-unit-div">
        <div class="details">
            <h2>{{ unit.unit_number }}</h2>
            <h2>
                Tenant: 
                {% if unit.renter %}
                    <a href="/renter/{{ unit.renter.id }}">{{ unit.renter.first_name }} {{ unit.renter.last_name }}</a>
                {% else %}
                    Vacant
                    {% if unit.rented == False %}
                    
                    <form method="POST" action="/{{ store.id }}/unit/{{ unit.id }}">
                        {{ form.first_name.label }} {{ form.first_name(size=20) }}
                        {{ form.last_name.label }} {{ form.last_name(size=20) }}    
                        <label for="{{ form.month_of_birth.id }}">Month of Birth:</label>
                        <select id="{{ form.month_of_birth.id }}" name="{{ form.month_of_birth.name }}">
                            {% for choice in form.month_of_birth.choices %}
                            <option value="{{ choice[0] }}">{{ choice[1] }}</option>
                            {% endfor %}
                        </select>
                        <label for="{{ form.day_of_birth.id }}">Day of Birth:</label>
                        <select id="{{ form.day_of_birth.id }}" name="{{ form.day_of_birth.name }}">
                            {% for choice in form.day_of_birth.choices %}
                            <option value="{{ choice[0] }}">{{ choice[1] }}</option>
                            {% endfor %}
                        </select>
                        {{ form.year_of_birth.label }} {{ form.year_of_birth(size=4) }}
                        {{ form.street_address.label }} {{ form.street_address(size=40) }}
                        {{ form.city.label }} {{ form.city(size=25) }}
                        {{ form.state.label }} {{ form.state(size=25) }}
                        {{ form.zip.label }} {{ form.zip(size=5) }}
                        {{ form.phone_number.label }} {{ form.phone_number(size=15) }}
                        {{ form.csrf_token() }}
                        
                        
                        <button type="submit">Rent Unit</button>
                    </form>
                    {% endif %}
                {% endif %}
            </h2>
            <h2>Status: {% if unit.rented %}Occupied{% else %}Vacant{% endif %}</h2>
            <h2>Size: {{ unit.size }}</h2>
            <h2>Type: {{ unit.type }}</h2>
            <h2>Digital Access: {% if unit.digital_access %}Yes{% else %}No{% endif %}</h2>
            {% if unit.renter %}
                <button onclick="confirmMoveOut()">Move out tenant</button>

                <form id="moveOutForm" method="POST" action="/move_out_route" style="display: none;">
                    <input type="hidden" name="unit_id" value="{{ unit.id }}">
                    <button type="submit"></button>
                </form>

            {% endif %}
        </div>
    </div>

    <div id="store-selector-box-js">
        <h2><a href="javascript:void(0);" onclick="closeStoreSelectorPopup()" id="store-selector-box-js-close-button">X</a></h2>
    </div>

</div>

<script>
    function confirmMoveOut() {
        var confirmMoveOut = confirm("Are you sure you want to move out the tenant?");
        if (confirmMoveOut) {
            document.getElementById('moveOutForm').submit();
        } else {
            // If user clicks Cancel, do nothing or provide additional feedback
        }
    }

    function openStoreSelectorPopup() {
        let storeSelectorBox = document.getElementById('store-selector-box-js')
        storeSelectorBox.style.display = 'block'
    }

    function closeStoreSelectorPopup() {
        let storeSelectorBox = document.getElementById('store-selector-box-js');
        storeSelectorBox.style.display = 'none';
    }
</script>





{% endblock %}